<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Nature Reach - Settings' }); %>
  <style>
    .backgroundOwlPicture {
      background-image: url('../../public/images/owl2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: 50%0%;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      
    }

    #settings {
      text-shadow: 2px 2px #000000;
    }
  </style>

  <body>
    <%- include ../partials/navbar %>
      <div class="backgroundOwlPicture">
        <br>

        <div class="container">
          <h1 style="color:white" id="settings">Settings</h1>

          <br>

          <div class="card-columns">

            <div class="card" style="width: 100%">
              <div class="card-header font-weight-bold"><img
                  src="https://img.icons8.com/ios-filled/50/000000/top-view-bird.png" /> Animals</div>
              <div class="card-body">
                <p class="card-text">Add, update, or remove animals</p>
                <a href="settings/birds" class="btn btn-primary">Go to animals</a>
              </div>
            </div>

            <div class="card" style="width: 100%">
              <div class="card-header font-weight-bold"><img
                  src="https://img.icons8.com/ios-filled/50/000000/prescription-pill-bottle.png" /> Meds</div>
              <div class="card-body">
                <p class="card-text">Add, update, or remove meds</p>
                <a href="settings/meds" class="btn btn-primary">Go to meds</a>
              </div>
            </div>

            <div class="card" style="width: 100%">
              <div class="card-header font-weight-bold"><img
                  src="https://img.icons8.com/ios-filled/50/000000/rack-of-lamb.png" /> Foods</div>
              <div class="card-body">
                <p class="card-text">Add, update, or remove foods</p>
                <a href="settings/foods" class="btn btn-primary">Go to foods</a>
              </div>
            </div>
            <div class="card" style="width: 100%">
              <div class="card-header font-weight-bold"><img
                  src="https://img.icons8.com/ios-filled/50/000000/question-mark.png" /> Instructions</div>
              <div class="card-body">
                <p class="card-text">Add, update, or remove instructions</p>
                <a href="settings/instructions" class="btn btn-primary">Go to instructions</a>
              </div>
            </div>
            <div class="card" style="width: 100%">
              <div class="card-header font-weight-bold"><img
                  src="https://img.icons8.com/metro/50/000000/gender-neutral-user.png" /> Users</div>
              <div class="card-body">
                <p class="card-text">Add, update, or remove users</p>
                <a href="settings/users" class="btn btn-primary">Go to users</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ../partials/scripts %>

  </body>

</html>