<img src='../../public/images/NatureReachLogo.png' alt="logo" class="logo" width="40%" height="40px">

<style>
  .logo {
    max-width: 100%;
    height: auto;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="https://img.icons8.com/cotton/40/000000/home--v1.png" /> Home<span
            class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feedings"><img src="https://img.icons8.com/ultraviolet/40/000000/meal.png" />
          Feedings<span class="sr-only"></span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if (locals.user.role==="Admin" ) { %>
        <li class="nav-item">
          <a class="nav-link" href="/settings"><img src="https://img.icons8.com/color/40/000000/settings.png" />
            Settings</a>
        </li>
        <% } %>
          <li class="nav-item">
            <div class="btn-group">
              <% if (locals.user.profileImage.contentType=="" ) {%>
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <img style="width:40px;height:40px;" class="rounded-circle article-img" src="../images/defaultuserprofilepic.png" id="img">
                  <%= ' ' + locals.user.firstName + ' ' + locals.user.lastName %>
                </button>
                </>
                <% } else { %>
                  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img style="width:40px;height:40px;" class="rounded-circle article-img"
                      src="data:image/<%= locals.user.profileImage.contentType%>; base64,<%= locals.user.profileImage.data.toString('base64')%>"
                      id="img">
                    <%= ' ' + locals.user.firstName + ' ' + locals.user.lastName %>
                  </button>
                  <% } %>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="/reset">Reset Password</a>
                      <a class="dropdown-item" href="/login/logout"
                        onclick="return confirm('Are you sure you want to log out now?')">Log Out</a>
                    </div>
            </div>
          </li>
    </ul>
  </div>
</nav>