<!DOCTYPE html>
<html>
  <%- include('./partials/header', {title: 'Nature Reach - Error'}); %>
  <body>
      <% include ./partials/navbar %>
      <div class="container">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      </div>
      <% include ./partials/scripts %>
    </body>
</html>

