<!DOCTYPE html>
<html>
  <%- include('./partials/header', {title: 'Nature Reach - Home Page'}); %>
  <style>
    
    body {
      background-image: url('../public/images/owl2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      position: relative;
      width: 100vw;
      height: 10vh;
    }

    .card {
opacity: 0.7;
    }

    .card:hover {
opacity: 1.0;
    }
    </style>
    
  <body>
    <% include ./partials/navbar %>
    <div>
    <div class="container-fluid">
      <br>    
      
    <div class="container">
      <h1 style="color:darkslategray">Welcome!</h1>
        <br>
      <h5 style="color:darkslategray">Quick Menu:</h5>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Recent Feedings</h5>
            <p class="card-text">View details about recent feedings.</p>
            <a href="./feedings" class="btn mt-auto btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Add New Feeding</h5>
            <p class="card-text">Record a new feeding in the database.</p>
            <a href="./feedings/create" class="btn mt-auto btn-primary">Add</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-2">
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Recent Instructions</h5>
          <p class="card-text">View details about recent instructions.</p>
          <a href="./settings/instructions" class="btn mt-auto btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  
    </div>
  </div>

    <% include ./partials/scripts %>
    </div>
  </div>
  </body>
</html>
