body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

login {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.card{
  max-width: 500px;
  width: 75%;
  min-width: 25%;
  padding: 20px;
  border-radius: 5%;
  text-align: center;
  position: absolute;
  right: 12%;
}

.responsive {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.responsiveuser {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
}

.backgroundOwlPicture {
  background-image: url('../public/images/owl2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%0%;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}


/* Found a great dominant color detector for images at 'https://imagecolorpicker.com'.
  This can help pick what colors would go well with your background image.*/

  /* 404 Error page */
