<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Nature Reach - Update Instruction'}); %>

<body>
    <% include ../../partials/navbar %>
    <div class="container">
        <br>
        <h1 class="ml-3"><%= title %></h1>
        <p class="ml-3">Update an instruction in the database</p>
        <form method="POST" action="/settings/instructions/update">
            <input type="hidden" name="id" value="<%= data._id  %>"/>

           
                <div class="form-group col-md-4 col-sm-12">
                    <label>Instruction</label>
                    <input type="text" class="form-control" placeholder="Comment" name="Comment" value="<%= data.Comment  %>">
                </div>

                <div class="form-check col-md-4 col-sm-12 ml-3">
                    <% if (data.Enabled) { %>
                        <input type="checkbox" class="form-check-input" id="Enabled" name="Enabled" checked />
                      <% } else { %>
                        <input type="checkbox" class="form-check-input" id="Enabled" name="Enabled" />
                      <% } %>
                    <label class="form-check-label">Enabled</label>
                </div>
                <br>

                <div class="form-group col-md-4 col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                

            
        </form>
    </div>
    <% include ../../partials/scripts %>
</body>

</html>