<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Nature Reach - Create Instruction' }); %>

    <body>
        <% include ../../partials/navbar %>
            <div class="container">
                <br>
                <h1 class="ml-3">
                    <%= title %>
                </h1>
                <p class="ml-3">Create a new instruction to show to the users</p>

                <form method="POST" action="/settings/instructions/create">

                    <div class="form-group col-md-4 col-sm-12">
                        <label>Instruction</label>
                        <input required type="text" class="form-control"  name="Comment">
                    </div>


                    <div class="form-check col-md-4 col-sm-12 ml-3">
                        <input type="checkbox" class="form-check-input" name="Enabled">
                        <label class="form-check-label">Enabled</label>
                    </div>
                    <br>

                    <div class="form-group col-md-4 col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>
            </div>
            <% include ../../partials/scripts %>
    </body>

</html>