<!doctype html>
<html>
<%- include('../partials/header', {title: 'Nature Reach - Reset Password' }); %>

    <style>
        body {
            background-image: url('../../public/images/hawk.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: 50%0;
            position: relative;
            width: 100vw;
            height: 100vh;
        }
        
    </style>

    <body>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <div class="card center">

            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="mt-4">
                        <img src="https://pittstate.edu/biology/_files/images/nature-reach/nature-reach-logo-480x284.jpg"
                            class=img-fluid alt="Responsive image">
                    </div>

                    <div class="mt-4">
                        <h1>Password Reset</h1>
                    </div>

                    <form action="/reset" method="post" id="myForm">
                        <div class="form-group" style="text-align: left">
                            <label>New Password</label>
                            <input required type="password" class="form-control" name="newPassword" id="newpassword">
                        </div>
                        <div class="form-group" style="text-align: left">
                            <label>Confirm Password</label>
                            <input required type="password" class="form-control" name="confirmPassword" id="confirmpassword">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg mb-4" style="float: right">Change
                            Password</button>
                    </form>

                </div>
            </div>
        </div>

        <script type="text/javascript">
           document.addEventListener("DOMContentLoaded", function() {
               let checkForm = function(e) {
                   if(this.newPassword.value !== this.confirmPassword.value) {
                       alert("Passwords don't match!");
                       this.confirmPassword.focus();
                       e.preventDefault();
                       return;
                   }
               };
               let myform = document.getElementById("myForm");
               myform.addEventListener("submit", checkForm, true);
           }, false);
          </script>  

    </body>


</html>