<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Nature Reach - Edit food'}); %>

<body>
    <% include ../../partials/navbar %>
    <div class="container">
        <br>
        <h1 class="ml-3"><%= title %></h1>
        <p class="ml-3">Update a food in the database</p>
        <form method="POST" action="/settings/foods/update">
            <input type="hidden" name="id" value="<%= data._id  %>"/>
            
            
                <div class="form-group col-md-4 col-sm-12">
                    <input type="text" class="form-control" placeholder="Name of food" name="name" value="<%= data.name  %>">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <button type="submit" class="btn mt-1 btn-primary">Submit</button>
                </div>

            
        </form>
    </div>
    <% include ../../partials/scripts %>
</body>

</html>